// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: 'Oxygen', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$dark-grey: #29363b;
$pink: #f6827a;
$red: #ec475c;
$orange: #f7ba86;
